// @import url("//hello.myfonts.net/count/25eca0");

@font-face {
  font-family: 'NewsGothicBT-Roman';
  src: url(font-path('news-gothic/25ECA0_0_0.eot'));
  src: url(font-path('news-gothic/25ECA0_0_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_0_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_0_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-Italic';
  src: url(font-path('news-gothic/25ECA0_1_0.eot'));
  src: url(font-path('news-gothic/25ECA0_1_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_1_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_1_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-Bold';
  src: url(font-path('news-gothic/25ECA0_2_0.eot'));
  src: url(font-path('news-gothic/25ECA0_2_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_2_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_2_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-BoldItalic';
  src: url(font-path('news-gothic/25ECA0_3_0.eot'));
  src: url(font-path('news-gothic/25ECA0_3_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_3_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_3_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-Light';
  src: url(font-path('news-gothic/25ECA0_4_0.eot'));
  src: url(font-path('news-gothic/25ECA0_4_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_4_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_4_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-LightItalic';
  src: url(font-path('news-gothic/25ECA0_5_0.eot'));
  src: url(font-path('news-gothic/25ECA0_5_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_5_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_5_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-RomanCondensed';
  src: url(font-path('news-gothic/25ECA0_6_0.eot'));
  src: url(font-path('news-gothic/25ECA0_6_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_6_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_6_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-ItalicCondensed';
  src: url(font-path('news-gothic/25ECA0_7_0.eot'));
  src: url(font-path('news-gothic/25ECA0_7_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_7_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_7_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-BoldCondensed';
  src: url(font-path('news-gothic/25ECA0_8_0.eot'));
  src: url(font-path('news-gothic/25ECA0_8_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_8_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_8_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-BoldCondItalic';
  src: url(font-path('news-gothic/25ECA0_9_0.eot'));
  src: url(font-path('news-gothic/25ECA0_9_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_9_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_9_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-ExtraCondensed';
  src: url(font-path('news-gothic/25ECA0_A_0.eot'));
  src: url(font-path('news-gothic/25ECA0_A_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_A_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_A_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-BoldExtraCondensed';
  src: url(font-path('news-gothic/25ECA0_B_0.eot'));
  src: url(font-path('news-gothic/25ECA0_B_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_B_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_B_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-Demi';
  src: url(font-path('news-gothic/25ECA0_C_0.eot'));
  src: url(font-path('news-gothic/25ECA0_C_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_C_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_C_0.ttf')) format('truetype');
  }

@font-face {
  font-family: 'NewsGothicBT-DemiItalic';
  src: url(font-path('news-gothic/25ECA0_D_0.eot'));
  src: url(font-path('news-gothic/25ECA0_D_0.eot#iefix')) format('embedded-opentype'),
       url(font-path('news-gothic/25ECA0_D_0.woff')) format('woff'),
       url(font-path('news-gothic/25ECA0_D_0.ttf')) format('truetype');
  }

/*
Convenience classes for the plethora of News Gothic weights.
*/
.light {
  font-family: "NewsGothicBT-Light";
}

.light-italic {
  font-family: "NewsGothicBT-LightItalic";
}

.roman {
  font-family: "NewsGothicBT-Roman";
}

.roman-condensed {
  font-family: "NewsGothicBT-RomanCondensed";
}

.bold {
  font-family: "NewsGothicBT-Bold";
}

.bold-condensed {
  font-family: "NewsGothicBT-BoldCondensed";
}

.bold-extra-condensed {
  font-family: "NewsGothicBT-BoldExtraCondensed";
}

.bold-condensed-italic {
  font-family: "NewsGothicBT-BoldCondItalic";
}

.bold-italic {
  font-family: "NewsGothicBT-BoldItalic";
}

.condensed {
  font-family: "NewsGothicBT-RomanCondensed";
}

.extra-condensed {
  font-family: "NewsGothicBT-ExtraCondensed";
}

.demi {
  font-family: "NewsGothicBT-Demi";
}

.demi-italic {
  font-family: "NewsGothicBT-DemiItalic";
}

.italic {
  font-family: "NewsGothicBT-Italic";
}

.italic-condensed {
  font-family: "NewsGothicBT-ItalicCondensed";
}

