/*
The global site brand.

No Styleguide reference.
*/
.brand {
  display: inline-block;
  background-color: $blue;
  text-decoration: none;
  line-height: 30px;
  padding: 0 25px;
  margin: 0 15px;
  color: #fff;

  &:hover {
    color: #fff;
  }
}
