@import "compass/css3/border-radius";

/*
An indicator of progress within a course.

No styleguide reference.
*/
.progress-bar {
  .progress {
    overflow:visible;
    background-image:image-url('bg/progress-bar.png');
    background-repeat:repeat;
    height:9px;
    position:relative;

    .bar {
      @include border-radius(4px);
      background:$green;
    }

    .percentage {
      position:absolute;
      top:13px;
      left:0px;
      color:#000;
      font-size:11px;

      .rule {
        background-color:#383838;
        width:1px;
        height:7px;
      }

      .percent {
        @extend .bold;
        margin-left:-25%;

        .symbol {
          @extend .light;
        }
      }
    }
  }
}
